html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #b93107, #0dc99a, #d52376, #dce002);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: rgb(240, 155, 29);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: darkblue;
}

/* Parent Container */
.content_img {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Child Text Container */
.content_img div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}
